[Unit]
Description=Giving signs of life

[Service]
Type=simple
User=pi
ExecStart=/home/pi/blackout_watch/watcher_scripts/watch_loop.sh
Restart=on-failure

[Install]
WantedBy=default.target