[Unit]
Description=Starting dowtimes server

[Service]
Type=oneshot
User=pi
ExecStartPre=/bin/sh -c 'until host google.com; do sleep 1; done'
ExecStart=/home/pi/blackout_watch/watcher_scripts/start_server.sh
Restart=always

[Install]
WantedBy=muilti-user.target