[Unit]
Description=Giving signs of life

[Service]
Type=simple
User=pi
ExecStart=/home/pi/blackout_watch/watcher_scripts/start_server.sh
Restart=always

[Install]
WantedBy=muilti-user.target